// Variable overrides
$theme-colors: (
  "dark": rgba(14, 14, 14, 0.438)
);
$sidebar-dark-bg: ( rgba(14, 14, 14, 0.76));
$header-dark-bg: ( rgba(14, 14, 14, 0.76));
$header-dark-color: ( rgba(14, 14, 14, 0.76));